In [16]:
import pandas as pd

from pandas import DataFrame
import warnings
warnings.filterwarnings("ignore")

In [17]:
# [('a',1)]
# [('a',1),('b',2)]
# [('a',2),('b',5),('c',6)]

class SusonDataframe(DataFrame):
    def find_data(self, selection_list):
        self.df_list = list()
        self.apply(self.process, 1, args=(selection_list,))
        # print("final", self.df_list)
        return DataFrame(data=self.df_list)

    def process(self, row, selection_list):
        row = dict(row)
        count = 0
        all_true = True

        for val in selection_list:
            key, val = val
            if key in row.keys() and row[key] == val:
                count += 1
            else:
                all_true = False
        if all_true:
            self.df_list.append(row)

In [18]:
df = pd.read_csv('DataSetFour.csv')
df.head()

   a  b  c   d
0  1  2  3   7
1  1  4  3   8
2  1  1  1   9
3  2  5  6  10

In [19]:
df = SusonDataframe(df)
df.find_data([('a',1)])

   a  b  c  d
0  1  2  3  7
1  1  4  3  8
2  1  1  1  9

In [20]:
df.find_data([('a',1),('b',2)])

   a  b  c  d
0  1  2  3  7

In [21]:
df.find_data([('a',2),('b',5),('c',6)])

   a  b  c   d
0  2  5  6  10

In [22]:
df.find_data([('b',10)])

Empty DataFrame
Columns: []
Index: []

In [25]:
df.find_data([('d',10)])

   a  b  c   d
0  2  5  6  10

In [ ]:
def select_data(filter_lst, df):
    d = dict(filter_lst)
     ...:     res = df.loc[(df[list(d.keys())] == pd.Series(d)).all(axis=1)]
     ...:     return res