In [366]:
import pandas as pd

In [367]:
df = pd.read_csv('Attributes.csv')

In [368]:
df.head(3)

,style_id,Gender,brand,style_name,Color,description,MATERIAL & CARE,Article Type,Fabric,Fit,...,Sleeve Length,default_image,front_image,Front Image,Side Image,Back Image,Detail Angle,Look Shot Image,Additional Image 1,Additional Image 2
0,11970392,Men,Roadster,Roadster Men Blue Striped Pullover Sweater,Blue,"Blue striped pullover sweater, has a round nec...",Material: Acrylic<br> Machine Wash,Sweaters,Acrylic,NaN,...,Long Sleeves,https://azmyntra.myntassets.com/dam-assets/ass...,https://azmyntra.myntassets.com/dam-assets/ass...,http://assets.myntassets.com/assets/images/119...,http://assets.myntassets.com/assets/images/119...,http://assets.myntassets.com/assets/images/119...,http://assets.myntassets.com/assets/images/119...,http://assets.myntassets.com/assets/images/119...,NaN,NaN
1,11991118,Women,Roadster,Roadster Women Pink Solid Boxy Hooded Sweatshirt,Pink,"Pink boxy solid sweatshirt, has a hood, long d...","Material: 50% cotton, 50% polyester<br>Machine...",Sweatshirts,Cotton,NaN,...,Long Sleeves,https://azmyntra.myntassets.com/dam-assets/ass...,https://azmyntra.myntassets.com/dam-assets/ass...,http://assets.myntassets.com/assets/images/119...,http://assets.myntassets.com/assets/images/119...,http://assets.myntassets.com/assets/images/119...,http://assets.myntassets.com/assets/images/119...,http://assets.myntassets.com/assets/images/119...,NaN,NaN
2,13915688,Men,HERE&NOW,HERENOW Men Navy Blue Typography Printed T-shirt,Navy Blue,<ul> <li> Navy blue Tshirt for men </li> <li> ...,100% cotton<br>Machine wash,Tshirts,Cotton,Regular Fit,...,Long Sleeves,https://azmyntra.myntassets.com/dam-assets/ass...,https://azmyntra.myntassets.com/dam-assets/ass...,http://assets.myntassets.com/assets/images/139...,http://assets.myntassets.com/assets/images/139...,http://assets.myntassets.com/assets/images/139...,http://assets.myntassets.com/assets/images/139...,http://assets.myntassets.com/assets/images/139...,NaN,NaN

In [369]:
def standardize_columns(col_names):
    final = []
    for item in col_names:
        item = item.lower()
        item = item.split(' ')
        item = "_".join(item)
        final.append(item)
    return final

In [370]:
df.columns = standardize_columns(df.columns)

In [371]:
df.columns

Index(['style_id', 'gender', 'brand', 'style_name', 'color', 'description',
       'material_&_care', 'article_type', 'fabric', 'fit', 'neck', 'pattern',
       'type', 'length', 'country_of_origin', 'waist_rise', 'wash_care',
       'sleeve_length', 'default_image', 'front_image', 'front_image',
       'side_image', 'back_image', 'detail_angle', 'look_shot_image',
       'additional_image_1', 'additional_image_2'],
      dtype='object')

In [372]:
# combining multiple columns into one

In [373]:
df['image'] = df[df.columns[18:]].apply(lambda x: ','.join(x.dropna().astype(str)),axis=1)

In [374]:
df= df.drop(['default_image', 'front_image', 'front_image',
       'side_image', 'back_image', 'detail_angle', 'look_shot_image',
       'additional_image_1', 'additional_image_2'],axis=1)

In [375]:
list(df.head(1)['image'])

['https://azmyntra.myntassets.com/dam-assets/assets/images/11970392/2020/9/15/437beff0-6f11-4961-b7f9-b59dbed5dcca1600164772711-Roadster-Men-Blue-Colourblocked-Pullover-Sweater-74160016477-1.jpg,https://azmyntra.myntassets.com/dam-assets/assets/images/11970392/2020/9/15/9e853bee-d8ad-4c4f-b8d9-286c47ea664e1600164772650-Roadster-Men-Blue-Colourblocked-Pullover-Sweater-74160016477-2.jpg,http://assets.myntassets.com/assets/images/11970392/2020/9/15/437beff0-6f11-4961-b7f9-b59dbed5dcca1600164772711-Roadster-Men-Blue-Colourblocked-Pullover-Sweater-74160016477-1.jpg,https://azmyntra.myntassets.com/dam-assets/assets/images/11970392/2020/9/15/9e853bee-d8ad-4c4f-b8d9-286c47ea664e1600164772650-Roadster-Men-Blue-Colourblocked-Pullover-Sweater-74160016477-2.jpg,http://assets.myntassets.com/assets/images/11970392/2020/9/15/437beff0-6f11-4961-b7f9-b59dbed5dcca1600164772711-Roadster-Men-Blue-Colourblocked-Pullover-Sweater-74160016477-1.jpg,http://assets.myntassets.com/assets/images/11970392/2020/9/15/9e853bee-d8ad-4c4f-b8d9-286c47ea664e1600164772650-Roadster-Men-Blue-Colourblocked-Pullover-Sweater-74160016477-2.jpg,http://assets.myntassets.com/assets/images/11970392/2020/9/15/66a4c3b3-2feb-4e9e-8c31-c232146119ce1600164772592-Roadster-Men-Blue-Colourblocked-Pullover-Sweater-74160016477-3.jpg,http://assets.myntassets.com/assets/images/11970392/2020/9/15/ec904c7e-b523-4f2c-a89a-1391f94e80b11600164772469-Roadster-Men-Blue-Colourblocked-Pullover-Sweater-74160016477-5.jpg,http://assets.myntassets.com/assets/images/11970392/2020/9/15/caf1db0d-7882-4660-b0ab-217f0f8677901600164772534-Roadster-Men-Blue-Colourblocked-Pullover-Sweater-74160016477-4.jpg']

In [376]:
DESIRED_TABLE = ['description','material_&_care', 'article_type', 'fabric', 'fit', 'neck', 'pattern','type',
                 'length', 'country_of_origin', 'waist_rise', 'wash_care','sleeve_length']
def create_table(row):
    row = dict(row)
    
    first = '<table border="0">'
    
    for k,v in row.items():
        if str(v) !='nan' and k in DESIRED_TABLE:
            first = first + '<tr><td><strong>' + str(k)+'</strong></td></tr>'
            first = first + '<tr><td><p>' + str(v)+ '</p></td><tr>'
    last = '</table>'
    
    return first+last

In [377]:
df['attributes']=df.apply(create_table,1)

In [378]:
list(df.head(2)['attributes'])

['<table border="0"><tr><td><strong>description</strong></td></tr><tr><td><p>Blue striped pullover sweater, has a round neck, long sleeves, and ribbed hem</p></td><tr><tr><td><strong>material_&_care</strong></td></tr><tr><td><p>Material: Acrylic<br>  Machine Wash</p></td><tr><tr><td><strong>article_type</strong></td></tr><tr><td><p>Sweaters</p></td><tr><tr><td><strong>fabric</strong></td></tr><tr><td><p>Acrylic</p></td><tr><tr><td><strong>neck</strong></td></tr><tr><td><p>Round Neck</p></td><tr><tr><td><strong>pattern</strong></td></tr><tr><td><p>Striped</p></td><tr><tr><td><strong>type</strong></td></tr><tr><td><p>Pullover</p></td><tr><tr><td><strong>length</strong></td></tr><tr><td><p>Regular</p></td><tr><tr><td><strong>country_of_origin</strong></td></tr><tr><td><p>India</p></td><tr><tr><td><strong>wash_care</strong></td></tr><tr><td><p>Machine Wash</p></td><tr><tr><td><strong>sleeve_length</strong></td></tr><tr><td><p>Long Sleeves</p></td><tr></table>',
 '<table border="0"><tr><td><strong>description</strong></td></tr><tr><td><p>Pink boxy solid sweatshirt, has a hood, long drop sleeves, straight hem</p></td><tr><tr><td><strong>material_&_care</strong></td></tr><tr><td><p>Material: 50% cotton, 50% polyester<br>Machine Wash</p></td><tr><tr><td><strong>article_type</strong></td></tr><tr><td><p>Sweatshirts</p></td><tr><tr><td><strong>fabric</strong></td></tr><tr><td><p>Cotton</p></td><tr><tr><td><strong>neck</strong></td></tr><tr><td><p>Hood</p></td><tr><tr><td><strong>pattern</strong></td></tr><tr><td><p>Solid</p></td><tr><tr><td><strong>type</strong></td></tr><tr><td><p>Pullover</p></td><tr><tr><td><strong>length</strong></td></tr><tr><td><p>Regular</p></td><tr><tr><td><strong>country_of_origin</strong></td></tr><tr><td><p>India</p></td><tr><tr><td><strong>wash_care</strong></td></tr><tr><td><p>Machine Wash</p></td><tr><tr><td><strong>sleeve_length</strong></td></tr><tr><td><p>Long Sleeves</p></td><tr></table>']

In [379]:
# now to get price

In [380]:
price_df = pd.read_csv('Invoice.csv')

In [381]:
price_df.head()

,HS Code,Style #,DESCRIPTION OF GOODS,SKU Code,Brand,Dispatch Qty,PRICE PER UNIT\nIN INR,TOTAL VALUE\nIN INR
0,61102000,713944,Sweatshirts,HRXAJCKT00000221,HRX by Hrithik Roshan,8,677.58,5420.64
1,61091000,1700891,Tshirts,HBHRTSHT00006149,HRX by Hrithik Roshan,10,308.87,3088.70
2,61091000,1827441,Tshirts,RDSTTSHT00031474,Roadster,12,278.79,3345.48
3,61091000,1844177,Tshirts,RDSTTSHT00032213,Roadster,12,256.10,3073.20
4,61091000,1847599,Tshirts,RDSTTSHT00032576,Roadster,12,305.50,3666.00

In [382]:
cols = price_df.columns
cols

Index(['HS Code', 'Style #', 'DESCRIPTION OF GOODS', 'SKU Code', 'Brand',
       'Dispatch Qty', 'PRICE PER UNIT\nIN INR', 'TOTAL VALUE\nIN INR'],
      dtype='object')

In [383]:
price_df = price_df.drop(['HS Code', 'DESCRIPTION OF GOODS', 'SKU Code', 'Brand',
       'Dispatch Qty', 'TOTAL VALUE\nIN INR'],axis=1)

In [384]:
price_df.columns = ['style_id','PRICE PER UNIT\nIN INR']

In [385]:
result = pd.merge(df, price_df, how="inner", on=["style_id"])

In [386]:
result.head()

,style_id,gender,brand,style_name,color,description,material_&_care,article_type,fabric,fit,...,pattern,type,length,country_of_origin,waist_rise,wash_care,sleeve_length,image,attributes,PRICE PER UNIT\nIN INR
0,11970392,Men,Roadster,Roadster Men Blue Striped Pullover Sweater,Blue,"Blue striped pullover sweater, has a round nec...",Material: Acrylic<br> Machine Wash,Sweaters,Acrylic,NaN,...,Striped,Pullover,Regular,India,NaN,Machine Wash,Long Sleeves,https://azmyntra.myntassets.com/dam-assets/ass...,"<table border=""0""><tr><td><strong>description<...",594.79
1,11991118,Women,Roadster,Roadster Women Pink Solid Boxy Hooded Sweatshirt,Pink,"Pink boxy solid sweatshirt, has a hood, long d...","Material: 50% cotton, 50% polyester<br>Machine...",Sweatshirts,Cotton,NaN,...,Solid,Pullover,Regular,India,NaN,Machine Wash,Long Sleeves,https://azmyntra.myntassets.com/dam-assets/ass...,"<table border=""0""><tr><td><strong>description<...",441.91
2,13915688,Men,HERE&NOW,HERENOW Men Navy Blue Typography Printed T-shirt,Navy Blue,<ul> <li> Navy blue Tshirt for men </li> <li> ...,100% cotton<br>Machine wash,Tshirts,Cotton,Regular Fit,...,Printed,NaN,Regular,India,NaN,Machine Wash,Long Sleeves,https://azmyntra.myntassets.com/dam-assets/ass...,"<table border=""0""><tr><td><strong>description<...",321.36
3,11545200,Men,Roadster,Roadster Men Navy Blue Olive Green Colourbloc...,Navy Blue,Navy Blue and Olive green colourblocked T-shir...,Material: 100% Cotton<br>Machine Wash,Tshirts,Cotton,Regular Fit,...,Colourblocked,NaN,Regular,India,NaN,Machine Wash,Long Sleeves,https://azmyntra.myntassets.com/dam-assets/ass...,"<table border=""0""><tr><td><strong>description<...",330.98
4,11973102,Men,Mast & Harbour,Mast Harbour Men Black Printed Hooded Sweatshirt,Black,"Black printed sweatshirt, has a hood, two pock...",Material: 100% Cotton<br>Machine Wash,Sweatshirts,Cotton,NaN,...,Printed,Pullover,Regular,India,NaN,Machine Wash,Long Sleeves,https://azmyntra.myntassets.com/dam-assets/ass...,"<table border=""0""><tr><td><strong>description<...",711.55

In [387]:
list(df.head(1)['attributes'])

['<table border="0"><tr><td><strong>description</strong></td></tr><tr><td><p>Blue striped pullover sweater, has a round neck, long sleeves, and ribbed hem</p></td><tr><tr><td><strong>material_&_care</strong></td></tr><tr><td><p>Material: Acrylic<br>  Machine Wash</p></td><tr><tr><td><strong>article_type</strong></td></tr><tr><td><p>Sweaters</p></td><tr><tr><td><strong>fabric</strong></td></tr><tr><td><p>Acrylic</p></td><tr><tr><td><strong>neck</strong></td></tr><tr><td><p>Round Neck</p></td><tr><tr><td><strong>pattern</strong></td></tr><tr><td><p>Striped</p></td><tr><tr><td><strong>type</strong></td></tr><tr><td><p>Pullover</p></td><tr><tr><td><strong>length</strong></td></tr><tr><td><p>Regular</p></td><tr><tr><td><strong>country_of_origin</strong></td></tr><tr><td><p>India</p></td><tr><tr><td><strong>wash_care</strong></td></tr><tr><td><p>Machine Wash</p></td><tr><tr><td><strong>sleeve_length</strong></td></tr><tr><td><p>Long Sleeves</p></td><tr></table>']

In [388]:
result = result.apply(lambda x: x*1.6 if x.name == 'PRICE PER UNIT\nIN INR' else x)

In [389]:
df = result.rename(columns={'PRICE PER UNIT\nIN INR': 'price'})

In [390]:
df.head(2)

,style_id,gender,brand,style_name,color,description,material_&_care,article_type,fabric,fit,...,pattern,type,length,country_of_origin,waist_rise,wash_care,sleeve_length,image,attributes,price
0,11970392,Men,Roadster,Roadster Men Blue Striped Pullover Sweater,Blue,"Blue striped pullover sweater, has a round nec...",Material: Acrylic<br> Machine Wash,Sweaters,Acrylic,NaN,...,Striped,Pullover,Regular,India,NaN,Machine Wash,Long Sleeves,https://azmyntra.myntassets.com/dam-assets/ass...,"<table border=""0""><tr><td><strong>description<...",951.664
1,11991118,Women,Roadster,Roadster Women Pink Solid Boxy Hooded Sweatshirt,Pink,"Pink boxy solid sweatshirt, has a hood, long d...","Material: 50% cotton, 50% polyester<br>Machine...",Sweatshirts,Cotton,NaN,...,Solid,Pullover,Regular,India,NaN,Machine Wash,Long Sleeves,https://azmyntra.myntassets.com/dam-assets/ass...,"<table border=""0""><tr><td><strong>description<...",707.056

In [391]:
# now lets get quantity now

In [392]:
quantity_df = pd.read_csv('Packing-List.csv')

In [393]:
quantity_df.head()

,Brand Name,Gender,Article Type,Style Id,Size,SKU Code,Ship Quantity,Carton No,Carton Dimension (in\nCMs),Gross Weight (in KGs),Net Weight (in\nKGs),CBM
0,HRX by Hrithik Roshan,Men,Sweatshirts,4653836,XL,HBHRSWSH00004431,1,STNC213360827,60X40X40,1.2632,1.1841,0.003475
1,Roadster,Men,Tshirts,13623636,S,RDSTTSHT46359570,1,STNC213360827,60X40X40,1.2632,1.1841,0.003475
2,Roadster,Men,Tshirts,13623636,M,RDSTTSHT46359573,1,STNC213360827,60X40X40,1.2632,1.1841,0.003475
3,Roadster,Men,Tshirts,13623636,L,RDSTTSHT46359572,1,STNC213360827,60X40X40,1.2632,1.1841,0.003475
4,Roadster,Men,Tshirts,13623636,L,RDSTTSHT46359572,1,STNC213360827,60X40X40,1.2632,1.1841,0.003475

In [394]:
quantity_df = quantity_df.groupby(['Style Id'],as_index=False)['Ship Quantity'].sum()

In [395]:
quantity_df.head()

   Style Id  Ship Quantity
0    713944              8
1   1700891             10
2   1827441             12
3   1844177             12
4   1847599             12

In [396]:
quantity_df = quantity_df.rename(columns={'Style Id': 'style_id','Ship Quantity':'quantity'})

In [397]:
result = pd.merge(df, quantity_df, how="inner", on=["style_id"])

In [398]:
result[['style_id','quantity']].head()

   style_id  quantity
0  11970392         8
1  11991118        10
2  13915688        12
3  11545200        11
4  11973102        10

In [399]:
result.columns

Index(['style_id', 'gender', 'brand', 'style_name', 'color', 'description',
       'material_&_care', 'article_type', 'fabric', 'fit', 'neck', 'pattern',
       'type', 'length', 'country_of_origin', 'waist_rise', 'wash_care',
       'sleeve_length', 'image', 'attributes', 'price', 'quantity'],
      dtype='object')

In [400]:
# discarding the attribute column
result.to_csv('final.csv',columns=['style_id', 'gender', 'brand', 'style_name', 'color', 'description',
       'material_&_care', 'article_type', 'fabric', 'fit', 'neck', 'pattern',
       'type', 'length', 'country_of_origin', 'waist_rise', 'wash_care',
       'sleeve_length', 'image', 'price', 'quantity'],index=False)